<div class="panel panel-default admin-panel">
  <div class="panel-heading">
    <h1>仕事履歴</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>start</th>
        <th>end</th>
        <th>comment</th>
        <th>app</th>
        <th></th>
      </tr>
      <% for num in 1..3 do %>
        <tr>
          <td>2012/3/4</td>
          <td>-</td>
          <td>とても頑張ってイラスト描いた</td>
          <td>表示中</td>
          <td>
            <a html="#" class="btn btn-success">編集</a>
            <a html="#" class="btn btn-danger">削除</a>
          </td>
        </tr>
      <% end %>
    </table>
    <hr>
    <a html="#" class="btn btn-default btn-block">追加</a>
  </div>
  <div class="panel-footer">
    <a href="#" class="btn btn-default" role="button">戻る</a>
  </div>
</div>