<h2>カテゴリ</h2>
<table class="table table-striped">
  <tr>
    <th>image</th>
    <th>title</th>
    <th>comment</th>
    <th>app</th>
    <th></th>
  </tr>

  <%= render @category.galleries, user: @user %>

</table>