<%= bootstrap_form_tag url: '/user_sessions', :method => :post do |f| %>
  <div class="panel-body">
    <%= f.text_field :email %>
    <%= f.password_field :password %>
  </div>
  <div class="panel-footer">
    <%= f.submit 'ログイン', :class=>"btn btn-primary form-submit-btn" %>
  </div>
<% end %>