<section id="gallery" class="container gallery">
  <h2>GALLERY</h2>
  <% @user.categories.where("flag = 1").each do |category| %>

    <h2><%= category.title %></h2>

    <div class="row">
      <% category.galleries.where("flag = 1").each do |gallery| %>
        <div class="col-xs-6 col-sm-4">
          <button class="btn gallery__item" data-toggle="modal" data-target=".gallery-modal"  data-title='<%= gallery.title %>' data-comment='<%= gallery.comment %>'>
          </button>
        </div>
      <% end %>
    </div>

  <% end %>
</section>

<section id="gallery-modal" class="modal fade gallery-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img src="<%= asset_path "sample_icon.png" %>" class="img-responsive">
        <div class="gallery-modal__text">
          <h4>イラストタイトル</h4>
          <p>comment</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="no-border">