<header class="container-fuild">
  <div class="row">
    <div class="col-md-12">
      header
    </div>
  </div>
</header>

<section class="container-fuild cover">
  <div class="row">
    <div class="col-md-12">
      cover
    </div>
  </div>
</section>

<section class="container profile">
  <div class="row">
    <div class="col-md-12">
      profile
    </div>
  </div>
</section>

<section class="container gallery">
  <div class="row">
    <div class="col-md-12">
      gallery
    </div>
  </div>
</section>

<section class="container work">
  <div class="row">
    <div class="col-md-12">
      work
    </div>
  </div>
</section>

<section class="container-fuild contact">
  <div class="row">
    <div class="col-md-12">
      contact
    </div>
  </div>
</section>

<footer class="container-fuild">
  <div class="row">
    <div class="col-md-12">
      footer
    </div>
  </div>
</footer>