<div class="panel-body">

  <%= render list %>

  <hr>
  <%= link_to "追加", new_path, {:class => "btn btn-default btn-block"} %>
</div>
<div class="panel-footer">
  <%= link_to "戻る", :back, {:class => "btn btn-default"} %>
</div>